/* Main div */
.canchaWrapper {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  gap: 1rem;
  border: solid white 1px;
  border-radius: 5px;
  padding: 0 1em;
}

/* Text info on court */
.canchaInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.canchaInfo * {
  margin: 0;
}

/* Info elements */
.reservationWrapper img {
  min-width: 0;
  height: auto;
  object-fit: contain;
  margin-left: 1rem;
}

.name {
  text-wrap: wrap balance;
}

.distance svg {
  color: red;
}

.type {
  font-style: italic;
}

.address {
  font-size: 0.8rem;
}

.distance {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
