/* Review wrapper */
.review {
  width: 100%;
  border: 2px solid white;
  padding: 0 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Stars Rating */
.stars {
  display: flex;
  justify-content: space-around;
  color: gold;
  margin: 1rem;
  font-size: 3rem;
}
/* Review Info */
.date {
  font-style: italic;
  font-size: 0.8rem;
}
.address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.address svg {
  width: 30%;
  font-size: 2em;
  color: red;
}
/* Review Text */
.commentText {
  font-size: 1.5em;
}
