/* Main div */
.nearbyCourts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 100vh;
}

/* Header */
.header {
  flex: 0 1 0;
  display: flex;
  justify-content: space-between;
  margin: 0 4rem 0 1rem;
}

.header h2 {
  flex-grow: 0;
  flex-shrink: 0;
  width: 80%;
  align-self: flex-start;
  margin: 1rem 0;
  font-size: 2.5rem;
}

.savedViewBtn {
  color: white;
  font-size: 2.5rem;
}
.mapViewBtn {
  color: white;
  font-size: 2.5rem;
}

/* Searchbar and menu div */
.searchHeader {
  flex: 0 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu */
.menu svg {
  font-size: 3rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Search Bar */
.searchBarWrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 70%;
  background-color: white;
  border: solid black 2px;
  border-radius: 15px;
  padding: 0 1rem;
  margin: 1rem;
}

.searchBarWrapper input {
  flex-grow: 0;
  flex-shrink: 0;
  width: 90%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.searchBtn,
.savedViewBtn,
.mapViewBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* Nearby Places Results */
.places {
  height: 90%;
  background-color: black;
  color: white;
  border-top-right-radius: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* Results (List View) */
.resultsList {
  padding-left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* Leaflet Map */
.mapContainer {
  flex: 1;
  border-radius: 5em;
}
.mapContainer div {
  border-radius: 2em;
  z-index: 0;
}
